{% new_version_link %}
{% if page.collection == 'archives' %}
{% elsif page.collection == 'npm-api' and page.prereleaseFor %}
  {% comment %}
   The full older version link functionality isn't implemented for npm-api yet,
   but we want to be able to at least show pre-release banners.
  {% endcomment %}
  {% assign versionPath = page.url | remove_first: "/api/npm/" | split: "/" %}
  {% assign version = versionPath.first | strip %}
  <div class="main-content">
      <div class="warning">
          This page describes a pre-release version of Jasmine ({{version}}).
          There may be additional changes, including breaking changes, before the
          final {{page.prereleaseFor}} release.<br>
      </div>
  </div>
{% endif %}
